#jarallax-container-0 {
	clip: rect(0 1262.8125px 450px 0);
	clip: rect(0, 1262.8125px, 450px, 0);
}

#jarallax-container-1 {
	clip: rect(0 1262.8125px 450px 0);
	clip: rect(0, 1262.8125px, 450px, 0);
}

#jarallax-container-2 {
	clip: rect(0 1262.8125px 550px 0);
	clip: rect(0, 1262.8125px, 550px, 0);
}

#jarallax-container-3 {
	clip: rect(0 1262.8125px 426px 0);
	clip: rect(0, 1262.8125px, 426px, 0);
}